.mainContainer {
	width: 100%;
	background-color: var(--background-color1);
	padding: 25px;
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.editContainer {
	display: flex;
	flex-direction: row;
	gap: 25px;
}

.editContainerBox {
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 35px;
}

.deleteContainer {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.deleteContainer p {
	background-color: var(--semi-light-color);
	padding: 15px;
	margin: auto;
	border-radius: var(--border-radius1);
}

.deleteButton {
	border-radius: var(--border-radius1);
	background-color: var(--danger-color);
	color: var(--light-color);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
	padding: 20px;
	margin: 50px auto;
	cursor: pointer;
	transition: 200ms;
}

.deleteButton:hover {
	background-color: var(--danger-color-hover);
}

@media (max-width: 900px) {

	.editContainer {
		flex-direction: column;
	}

	.editContainerBox {
		width: 100%;
	}
}