.mainContainer {
	width: 100%;
	background-color: var(--background-color1);
	padding: 15px;
	display: flex;
	flex-direction: row;
	gap: 15px;
}


.scheduleBox {
	display: flex;
	flex-direction: column;
}

.yearAndMonth {
	font-weight: bold;
	font-size: 1.4rem;
	margin: 20px auto;
}

.dayBox {
	background-color: var(--color1);
	padding: 20px;
	border-radius: var(--border-radius1);
	display: flex;
	margin: 5px 0;
	cursor: pointer;
	transition: 200ms;
}

.dayBox:hover {
	background-color: var(--color1-light);
}
