.mainContainer {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100vh;
}

.formContainer {
	display: flex;
	flex-direction: column;
	gap: 25px;
	justify-content: center;
	/* align-items: center; */
	width: 35%;
	background-color: var(--background-color1);
	padding: var(--background-padding2);
}

.imageContainer {
	background-image: url(../../images/calendar_bg.png);
	background-color: var(--color1-dark);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 65%;
}

.link {
	margin: 0 auto;
}

.link a {
	text-decoration: underline;
	padding: 0 5px;
}