.mainContainer {
	width: 100%;
	background-color: var(--background-color1);
	padding: 15px;
}

.scheduleContainer {
	width: 100%;
	height: 100%;
}

.scheduleContainer ul {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(295px, 1fr));
	gap: 10px;
}

.scheduleBox {
	border: solid 1px var(--medium-color);
	background-color: var(--light-color);
	min-height: 200px;
	box-shadow: 0 0 5px #d6d6d6;
	border-radius: var(--border-radius1);
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.scheduleBoxData {
	display: flex;
	flex-direction: column;
	justify-content: start;
	gap: 15px;
}

.scheduleBoxData div {
	display: flex;
	justify-content: space-between;
	gap: 15px;
	font-size: 1.2rem;
	padding-bottom: 12px;
	border-bottom: solid 1px var(--medium-color);
}

.scheduleBoxInterface {
	display: flex;
	justify-content: end;
	align-items: end;
}

.icon {
	cursor: pointer;
}

.dayLine::first-letter {
	text-transform: uppercase;
}

.anyScheduleContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.anyScheduleContainer span {
	font-size: 1.1rem;
	padding: 20px 0;
}

.linkNewSchedule {
	max-width: var(--button-max-width);
	width: 100%;
	min-width: var(--button-min-width);
	height: var(--input-height);
	border-radius: var(--border-radius1);
	background-color: var(--color1);
	border: solid 1px var(--color1-dark);
	cursor: pointer;
	font-size: var(--font-size2);
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.activeSchedule {
	background-color: var(--semi-light-color);
	color: var(--active-color);
	font-weight: bold;
	padding: 5px;
	border-radius: var(--border-radius1);
}

.canceledSchedule {
	background-color: var(--semi-light-color);
	color: var(--danger-color);
	font-weight: bold;
	padding: 5px;
	border-radius: var(--border-radius1);
}
