.mainContainer {
	background-color: var(--color1);
	width: 100%;
	height: var(--header-height);
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 40px;
}
