.mainContainer {
	background-color: var(--color1);
	width: 100%;
	height: var(--header-height);
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 40px;
	position: sticky;
	top: 0;
}

.profileIcon {
	font-size: 28px;
	cursor: pointer;
}

.menuIcon {
	display: none;
	font-size: 22px;
	cursor: pointer;
	transition: 500ms;
}

@media (max-width: 650px) {

	.menuIcon {
		display: inline-block;
	}

}