@import url(../keyFrames.module.css);

.mainContainer {
	background-color: var(--color1-light);
	min-width: 300px;
	max-width: 300px;
	height: calc(100vh - var(--header-height));
	transition: all 0.3s linear;
	position: sticky;
	top: var(--header-height);
	left: 0;
}


.navList {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 15px;
	justify-content: center;
	list-style: none;
	padding: 25px;
}

.active {
	padding: 10px;
	background-color: var(--color1);
	border-radius: var(--border-radius2);
	width: 100%;
	display: block;
	transition: 250ms;
	text-decoration: none;
	border-right: solid 20px var(--dark-color);
}

.desactive {
	padding: 10px;
	border-right: solid 20px var(--dark-color);
	background-color: var(--color1);
	border-radius: var(--border-radius2);
	width: 100%;
	display: block;
	transition: 250ms;
	text-decoration: none;
	border-right: solid 20px var(--color1-dark);
}

@media (max-width: 650px) {

	.mainContainer {
		background-color: var(--color1-light);
		min-width: 250px;
		max-width: 250px;
		height: 100vh;
		height: calc(100vh + var(--header-height));
		transition: all 0.3s linear;
		position: fixed;
		top: var(--header-height);
		left: 0;
		bottom: 0;
	}

}